#wrapper{
text-align:center;
	background: #060606;
}

#textbox{
    display:none;
}

body
{

	background: #060606;
	color: #939393;
	font: 12px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
a:link, body_alink
{
	color: #236ba7;
	text-decoration: none;
}
a:visited, body_avisited
{
	color: #236ba7;
	text-decoration: none;
}
a:hover, a:active, body_ahover
{
	color: #1c86d8;
	text-decoration: underline;
}
td, th, p, li
{
	font: 12px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tborder
{
	background: #0f0f0f;
	color: #939393;
	border:4px solid #191919;
	
}
.tcat
{
	background: #0f0f0f;
	color: #a9bcc7;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border-bottom:1px dotted #071724;
		padding-top:6px;
		padding-bottom:5px;
}
.tcat a:link, .tcat_alink
{
	color: #a0b5c1;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #a0b5c1;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #a5bac6;
	text-decoration: underline;
}
.alt1, .alt1Active
{
	background: #161616;
	color: #939393;
}
.alt2, .alt2Active
{
	background: #111111;
	color: #939393;
}
textarea, .bginput
{
	background: #191919;
	color: #939393;
	font: 13px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border: 1px solid #2c2c2c
}
.button
{
	background: #737373;
	color: #ffffff;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border:1px solid #2c2c2c;
	padding-bottom:2px;
	margin:0px 3px;
	
}
